@use './card';

.root {
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition: all var(--transition-normal);

  &:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-2px);
  }
}

.header {
  margin-bottom: var(--spacing-3);

  .title {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: var(--spacing-2);
    -webkit-box-orient: vertical;
    color: light-dark(#0f0f0f, #fafafa);
    line-clamp: 2;
  }

  .description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    color: var(--color-muted-text);
    line-clamp: 2;
  }
}
