.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;

  &.circle {
    border-radius: 100%;
  }

  &:not([data-elevated='true']) {
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-accent-text);
    }
  }

  &[data-elevated='true'] {
    &:hover {
      box-shadow: var(--shadow-md);
      transform: translateY(-1px);
    }
  }
}
