/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

# Autodetect text files
* text=auto eol=lf

# Definitively text files
*ts text
*tsx text
*css text
*js text
*jsx text
*yml text
*json text
*md text
