.root {
  color: var(--color, currentColor);

  &[data-size='small'] {
    font-size: 12px;
  }

  &[data-size='medium'] {
    font-size: 14px;
  }

  &[data-size='large'] {
    font-size: 16px;
  }

  &[data-size='xl'] {
    font-size: 20px;
  }

  &[data-size='xxl'] {
    font-size: 24px;
  }

  &[data-size='xxxl'] {
    font-size: 30px;
  }

  &[data-weight='normal'] {
    font-weight: 400;
  }

  &[data-weight='medium'] {
    font-weight: 500;
  }

  &[data-weight='semibold'] {
    font-weight: 600;
  }

  &[data-weight='bold'] {
    font-weight: 700;
  }
}
