.root {
  position: sticky;
  z-index: var(--z-sticky);
  top: 0;
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-4) var(--spacing-6);
  border-bottom: 1px solid var(--color-border);
  backdrop-filter: blur(12px);
  background-color: var(--color-background);
}

.backIcon {
  width: 18px;
  height: 18px;
}

.actionButtons {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}
