.root {
  position: relative;
  overflow: hidden;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: flashing 1.5s ease-in-out infinite;
    background-size: 200% 100%;
    content: '';

    @media (prefers-color-scheme: light) {
      background: rgb(0 0 0 / 10%);
    }

    @media (prefers-color-scheme: dark) {
      background: rgb(255 255 255 / 10%);
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes flashing {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
