$fieldWidth: 222px;

.root {
  display: grid;
  grid-template-areas:
    ". ."
    "title-field ."
    ". ."
    "image-field ."
    ". ."
    "save-button ."
  ;
  grid-template-columns: $fieldWidth 1fr;
  grid-template-rows:
    24px
    auto
    24px
    auto
    36px
    auto
  ;
}

.titleField {
  grid-area: title-field;
}
.imageField {
  grid-area: image-field;
}

.saveButton {
  grid-area: save-button;
}
