@use "sass:map";
@import '~@food-captain/client-shared/src/colors';

.textBlock {
  display: grid;
  grid-template-areas: "rtf-toolbar ." "field delete-button";
  grid-template-columns: 1fr auto;
  grid-row-gap: 8px;
  grid-column-gap: 8px;

  & > div:nth-of-type(2) {
    grid-area: field;
  }

  & > button {
    grid-area: delete-button;
    border: none;

    & > svg {
      color: map.get($destructive, main);
    }
  }
}

.stepBlock {
  display: grid;
  grid-template-areas: "field delete-button";
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;

  & > div:nth-of-type(1) {
    grid-area: field;
  }

  & > button {
    grid-area: delete-button;
    border: none;

    & > svg {
      color: map.get($destructive, main);
    }
  }
}

.rtfToolbar {
  grid-area: rtf-toolbar;
  button {
    border: none;
  }
}

.step {
  display: grid;
  grid-template-areas:
    "step up-button down-button rtf-toolbar ."
    "field field field field field"
  ;
  grid-template-columns: auto auto auto auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;

  & > p {
    grid-area: step;
    text-transform: capitalize;
  }
  & > button {
    border: none;
  }
  & > button:nth-of-type(1) {
    grid-area: up-button;

    & > svg {
      color: map.get($primary, main);
    }
  }
  & > button:nth-of-type(2) {
    grid-area: down-button;

    & > svg {
      color: map.get($primary, main);
    }
  }
  & > div:nth-of-type(2) {
    grid-area: field;
  }
}
