@use "sass:map";
@import '~@food-captain/client-shared/src/colors';

.root {
  display: grid;
  grid-auto-flow: row;

  @media (min-width: 320px), (max-width: 320px) {
    grid-row-gap: 16px;
  }
  @media (min-width: 480px) {
    grid-row-gap: 24px;
  }
  @media (min-width: 768px) {
    grid-row-gap: 36px;
  }
  @media (min-width: 1280px) {
  }

  & > div:nth-of-type(1) {
    width: 222px;
  }
}

.addButton {
  width: fit-content;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map.get($primary, main);
  }
}
