.root {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2);

  > input {
    border-color: var(--color-border);
    background-color: var(--color-background);
    border-radius: var(--radius-md);
    height: 36px;
    padding: var(--spacing-1) var(--spacing-3);

    &::placeholder {
      color: var(--muted-foreground);
    }
    &:focus-visible {
      outline: none;
      transition: box-shadow var(--transition-normal);
      box-shadow: 0 0 0 3px rgba(102, 102, 102, 0.5);
    }
  }
}
