@use '@shared/responsive/responsive';

.root {
  max-width: #{responsive.$laptopWidth};
  margin: 0 auto;
}

.contentGrid {
  display: grid;

  @include responsive.desktop {
    grid-template-columns: 400px 1fr;
    gap: var(--spacing-12);
    padding: var(--spacing-8) var(--spacing-6);
  }

  @include responsive.laptop {
    grid-template-columns: 400px 1fr;
    gap: var(--spacing-8);
    padding: var(--spacing-8) var(--spacing-6);
  }

  @include responsive.mobile {
    gap: var(--spacing-6);
    padding: var(--spacing-6) var(--spacing-4);
  }
}

.flex {
  display: flex;
  gap: var(--spacing-8);
  flex-direction: column;
}
