@use '@shared/responsive/responsive';

.root {
  max-width: 1280px;
  margin: 0 auto;

  @include responsive.mobile {
    padding: var(--spacing-4);
  }

  @include responsive.desktop {
    padding: var(--spacing-6);
  }

  > header {
    margin-bottom: var(--spacing-8);

    .title {
      margin-bottom: var(--spacing-2);
    }
  }
}

.recipesGrid {
  display: grid;
  gap: var(--spacing-6);

  @media (width >= 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
