$margin: 24px;

.modalContent {
  max-height: calc(100vh - #{$margin} - #{$margin});
  grid-template-rows: auto 1fr auto;
  margin: auto;
}

.body {
  display: grid;
  grid-template-areas:
    "search"
    "ingredients"
  ;
  grid-row-gap: 24px;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow-y: auto;
}

.header {
  text-transform: capitalize;
}

.search {
  grid-area: search;
}

.ingredients {
  grid-area: ingredients;
  overflow-y: auto;
}
