@use '~@food-captain/client-shared/src/colors';
@use "sass:map";

$cardWidth: 248px;

.root {
  padding: 24px 48px;
  display: grid;
  gap: 48px;
  //grid-template-columns: repeat(auto-fill, $cardWidth);
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.cardRoot {
  border-image-source: url("/img/macaroni-border.png");
  border-image-slice: 24%;
  border-image-width: 54px;
  border-image-outset: 13px; // 1/2 of width - place by center
  border-image-repeat: repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $cardWidth;
  height: 164px;

  background-color: colors.$background;

  &:hover {
    background-color: rgba(245, 208, 96, 0.80);
  }
}

.platterRoot {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  justify-content: center;

  & > hr {
    width: 100%;
    border: 5px solid;
  }
  & > svg {
    width: 100%;
  }

  & > svg, & > hr {
    color: rgba(245, 208, 46, 1);
  }

  &:hover {
    cursor: pointer;

    & > svg, & > hr {
      color: rgba(245, 208, 46, 0.8);
    }
  }
}
