.gallery {
  grid-area: gallery;
  display: grid;
  grid-template-areas: "search" "." "images";
  grid-template-rows: auto 24px auto 24px auto;
}

.galleryTitle {
  text-transform: capitalize;
}

.search {
  grid-area: search;
}

.images {
  grid-area: images;
}
