@use "sass:map";
@import '~@food-captain/client-shared/src/colors';

$breadCrumbsHeight: 40px;

.root {
  display: grid;

  @media (min-width: 320px), (max-width: 320px) {
    padding-bottom: 16px;
    grid-template-areas: "recipe" "filters";
    grid-row-gap: 24px;
  }
  @media (min-width: 480px) {
    padding-bottom: 24px;
  }
  @media (min-width: 768px) {
    padding-bottom: 36px;
    $breadCrumbsHeight: 40px;
    min-height: calc(100% - #{$breadCrumbsHeight});
    grid-template-areas: "filters recipe";
    grid-template-columns: auto 1fr;
    justify-items: flex-start;
    grid-column-gap: 40px;
  }
  @media (min-width: 1280px) {
    padding-bottom: 48px;
  }
}

.filters {
  grid-area: filters;
}

.recipeContainer {
  grid-area: recipe;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 320px), (max-width: 320px) {
    row-gap: 24px;
  }
  @media (min-width: 768px) {
    row-gap: 40px;
  }
}

.noRecipe {
  border: 2px dashed #6A1B9A;

  @media (min-width: 320px), (max-width: 320px) {
    width: 278px;
    height: 190px;
  }
  @media (min-width: 480px) {
    width: 334px;
    height: 240px;
  }
}

.recipe {
  display: grid;
  grid-template-areas:
    "name name"
    "image stats"
;
  grid-row-gap: 12px;
  grid-column-gap: 12px;

  @media (min-width: 320px), (max-width: 320px) {
    $imageSize: 150px;

    grid-template-columns: $imageSize 1fr;
    grid-template-rows: auto $imageSize;
    img {
      height: $imageSize;
      width: $imageSize;
    }
  }
  @media (min-width: 1600px) {
    $imageSize: 200px;

    grid-template-columns: $imageSize 1fr;
    grid-template-rows: auto $imageSize;
    img {
      height: $imageSize;
      width: $imageSize;
    }
  }
}

.recipeName {
  grid-area: name;
}
.recipeImage {
  grid-area: image;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 24px;
}

.kcal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.tags {
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;

  // prevents tags from overflowing and keep
  // ability to read all of them
  overflow: auto;
}

