@use "sass:map";
@import '~@food-captain/client-shared/src/colors';

$breadCrumbsHeight: 40px;

.root {
  @media (min-width: 320px), (max-width: 320px) {
    padding-bottom: 16px;
  }
  @media (min-width: 480px) {
    padding-bottom: 24px;
  }
  @media (min-width: 768px) {
    padding-bottom: 36px;
    $breadCrumbsHeight: 40px;
    min-height: calc(100% - #{$breadCrumbsHeight});
  }
  @media (min-width: 1280px) {
    display: grid;
    $breadCrumbsHeight: 40px;
    height: calc(100% - #{$breadCrumbsHeight});
    grid-template-areas: "content filters";
    grid-template-columns: 1fr auto;
    grid-column-gap: 40px;
    padding-bottom: 48px;
  }
}

.content {
  display: grid;
  grid-template-areas: "header" "recipes";
  grid-template-rows: auto 1fr;

  @media (min-width: 320px), (max-width: 320px) {
    padding-right: 16px;
  }
  @media (min-width: 480px) {
    padding-right: 24px;
  }
  @media (min-width: 768px) {
    padding-right: 36px;
  }
  @media (min-width: 1280px) {
    padding-right: 0;
    overflow-y: hidden;
    grid-template-areas: "header" "recipes" "." "add-button";
    grid-template-rows: auto 1fr 24px auto;
  }
}

.filters {
  grid-area: filters;
}

$fieldWidth: 222px;

.header {
  position: sticky;
  background-color: white;
  top: -$breadCrumbsHeight;

  @media (min-width: 320px), (max-width: 320px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media (min-width: 480px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  grid-area: header;
  display: grid;
  grid-template-areas: "search-field sort-button sort-field filters-button";
  grid-template-columns: 1fr auto $fieldWidth auto;
  grid-column-gap: 16px;

  button {
    border: none;
  }
}

.searchField {
  grid-area: search-field;
}

.sortButton {
  grid-area: sort-button;
}

.sortField {
  grid-area: sort-field;
}

.filtersButton {
  grid-area: filters-button;

  & > svg {
    color: map.get($primary, main);
  }

  &Opened {
    transform: rotate(-90deg);
  }
  &Closed {
    transform: rotate(0deg);
  }
}

.addButton {
  grid-area: add-button;

  @media (min-width: 320px), (max-width: 320px) {
    display: none;
  }
  @media (min-width: 1280px) {
    display: block;
  }
}

$padding: 8px;

.recipes {
  grid-area: recipes;
  display: grid;
  grid-template-columns: repeat(auto-fill, 334px);
  grid-column-gap: 36px;
  align-items: flex-start;
  align-content: flex-start;

  @media (min-width: 320px), (max-width: 320px) {
    grid-row-gap: 16px;
  }
  @media (min-width: 480px) {
    grid-row-gap: 24px;
  }
  @media (min-width: 1280px) {
    overflow-y: auto;
  }
}

.recipe {
  display: grid;
  grid-template-areas:
    "name name"
    "image stats"
  ;
  grid-row-gap: 12px;
  grid-column-gap: 12px;

  @media (min-width: 320px), (max-width: 320px) {
    $imageSize: 150px;

    grid-template-columns: $imageSize 1fr;
    grid-template-rows: auto $imageSize;
    img {
      height: $imageSize;
      width: $imageSize;
    }
  }
  @media (min-width: 1600px) {
    $imageSize: 200px;

    grid-template-columns: $imageSize 1fr;
    grid-template-rows: auto $imageSize;
    img {
      height: $imageSize;
      width: $imageSize;
    }
  }
}

.recipeName {
  grid-area: name;
}
.recipeImage {
  grid-area: image;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 24px;
}

.kcal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.tags {
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;

  // prevents tags from overflowing and keep
  // ability to read all of them
  overflow: auto;
}
