@use '@shared/responsive/responsive';

.root {
  // width: calc(100% - var(--spacing-24));
  max-width: 1360px;

  // height: calc(100% - var(--spacing-24));
  max-height: 800px;
}

.content {
  display: flex;
  row-gap: var(--spacing-6);
  flex-direction: column;
  flex-grow: 1;

  > form {
    display: flex;
    row-gap: var(--spacing-4);
    flex-direction: column;
  }

  .numbersSection {
    display: flex;
    gap: var(--spacing-4);
    flex-wrap: wrap;
  }
}
