.root {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: relative;
  display: grid;

  @media (min-width: 320px), (max-width: 320px) {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
  }
  @media (min-width: 768px) {
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
  }
}

.main {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  position: relative;

  scrollbar-color: #319795 #F3FBFC;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  @media (min-width: 320px), (max-width: 320px) {
    padding: 16px 0 0 16px;
  }
  @media (min-width: 480px) {
    padding: 24px 0 0 24px;
  }
  @media (min-width: 768px) {
    padding: 36px 0 0 36px;
  }
  @media (min-width: 1280px) {
    padding: 48px 0 0 48px;
  }
}
