@use '~@food-captain/client-shared/src/colors';
@use "sass:map";

$panelPadding: 16px;

.root {
  padding: $panelPadding;
  width: 184px;
  background-color: map.get(colors.$default, main);
}

.relativeContainerForMeatBall {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
}

.logo {
  align-self: center;
}

.linkContainer {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.link {
  padding: 4px 8px;
  text-transform: capitalize;
  color: map.get(colors.$default, text);

  &.inactive {
    &:hover {
      text-decoration-line: underline;
    }

    & + .meatBall {
      never: 0;
    }
  }

  &.active {
    &:hover {
      text-decoration-line: underline;
    }

    & + .meatBall {
      visibility: visible;
      animation-name: meatBallFall, meatBallFallTransition;
      animation-timing-function: linear, steps(34);
      animation-duration: 0.3s, 0.7s;
    }
  }
}

.meatBall {
  width: 47px;
  height: 40px;
  background-image: url("Maeatball Sprite.png");
  background-position: 0 0;

  visibility: hidden;
  animation-name: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  right: 0;
}

@keyframes meatBallFall {
  from {
    top: 0;
    transform: translateY(calc(-100% - $panelPadding));
  }

  to {
    top: auto;
    transform: translateY(0);
  }
}

@keyframes meatBallFallTransition {
  to { background-position: -1598px; }
}
